* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }
.box {
    float: left;
    width: 33%;
}
.content{
    margin: 10px;
    padding: 65px 10px 10px 10px;
    border: 1px solid black;
    background: wheat;
    position: relative;
}

h1, h2{
    text-align: center;
	
}
.box h2{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    margin-left: 600%;
    width: 33.33%;
    color: white;
    background: #AF2B2B;
    border: 1px solid black;
}

.box:nth-child(3) h2{
	background: #2B2BAF;
}
.box:nth-child(4) h2{
	background: #2BAF2B;
}  

@media(min-width: 768px) and (max-width: 991px){
	.box {
		width: 50%;
	}
	.box:last-child{
		width: 100%;
	}
}
@media(max-width: 767px){
	.box {
		width: 100%;
	}
}
